


/*body {*/
    /*background-color: #B23E44;*/
    /*width: 1200px;*/
    /*height: 1920px;*/
/*}*/


/*styles for default view*/
.screen {
    background-color: #B23E44;
    width: 800px;
    height: 1280px;
}

.room-name-div {
    font-size: 58px;
    text-shadow: 5px 5px 5px #55606F;
    /*display: block;*/
    /*width: 100%;*/
    padding-top: 30px;
    margin: auto;
    text-align: center;
    color: floralwhite;
}

.default-instruction-div {
    margin-top: 250px;
    background-color: floralwhite;
    color: #55606F;
    text-align: center;
    font-size: 32px;
    font-family: 'Nothing You Could Do', cursive, sans-serif;
    width: 50%;
    height: 125px;
    float: right;
    border: 2px solid black;
}

.bottom-div {
    clear: both;
    text-align: center;
    font-size: 32px;
    /*margin-top: 40px;*/
    color: floralwhite;
    /*border: 2px solid purple;*/
    padding-top: 250px;
    line-height: 0;
}

.bottom-div p {
    padding-bottom: 0px;
}

.time {
    font-size: 54px;
    /*border: 1px dashed black;*/
}

/***************THE HEADER: THE TOP************/
header {
    /*display: inline-block;*/
    width: 800px;
    height: 125px;
    /*border: 2px dashed red;*/
}

#theRoom {
    font-size: 32px;
    text-align: left;
    height: 120px;
    /*width: 60%;*/
    float: left;
    /*padding-bottom: 10px;*/
    /*margin: auto;*/
    /*border: 2px solid black;*/
}

.clock {
    height: 120px;
}

.clock p {
    /*width: 30%;*/
    /*margin-bottom: 10px;*/
    /*float: right;*/
    text-align: right;
    font-size: 28px;
    /*margin: auto;*/
    /*border: 2px solid blue;*/
}



/*CALENDAR VIEW**********************/

.screenCalendar {
    width: 800px;
    height: 1280px;
}

.repeatDiv {
    width: 100%;
}

.timeHour {
    width: 5%;
    display: inline-block;
    height: 60px;
    margin: 0;
    font-size: 28px;
}

.timeBoxBlock {
    border: 1px solid black;
    width: 90%;
    height: 60px;
    display: inline-block;
    margin: 0;
    background-color: lightgrey;
}

.timeSelectOval {
    box-shadow: 2px 2px 3px #55606F;
    border: 1px solid #55606F;
    border-radius: 20px;
    margin: 6px 5px 6px 5px;
    text-align: center;
    background-color: whitesmoke;
    /*vertical-align: middle;*/
}

.timeSelectOval span {
    font-family: "Nothing You Could Do", Arial, sans-serif;
    font-size: 28px;
}

.listDiv {
    list-style-type: none;
}