


/*body {*/
    /*background-color: #B23E44;*/
    /*width: 1200px;*/
    /*height: 1920px;*/
/*}*/


/*styles for default view*************************************/
.screen {
    background-color: #25ae90;
    width: 800px;
    height: 1280px;
}

.room-name-div {
    font-size: 58px;
    text-shadow: 5px 5px 5px #55606F;
    /*display: block;*/
    /*width: 100%;*/
    padding-top: 30px;
    margin: auto;
    text-align: center;
    color: floralwhite;
}

.default-instruction-div {
    margin-top: 250px;
    background-color: floralwhite;
    color: #55606F;
    text-align: center;
    font-size: 36px;
    font-family: 'Nothing You Could Do', cursive, sans-serif;
    width: 50%;
    height: 125px;
    float: right;
    padding-top: 25px;
    border: 1px solid #55606F;
    box-shadow: -4px 4px 5px #55606F;
}

.bottom-div {
    clear: both;
    text-align: center;
    font-size: 48px;
    color: floralwhite;
    /*border: 2px solid purple;*/
    padding-top: 250px;
    line-height: 0;
}

.bottom-div p {
    padding-bottom: 0;
    text-shadow: 4px 4px 3px #55606F;
}

.time {
    font-size: 100px;
    /*border: 1px dashed black;*/
}

/***************THE HEADER: THE TOP************/
header {
    /*display: inline-block;*/
    width: 800px;
    height: 125px;
    margin: 25px auto 0 auto;
    /*border: 2px dashed red;*/
}

#login-button {
    background-color: #25ae90;
}

#theRoom {
    font-size: 24px;
    text-align: left;
    height: 120px;
    /*width: 60%;*/
    float: left;
    /*padding-bottom: 10px;*/
    /*margin: auto;*/
    /*border: 2px solid black;*/
    line-height: 10px;
}

.clock {

    height: 120px;
    /*border: 2px solid blue;*/
}

.clock p {
    /*width: 30%;*/
    /*margin-bottom: 10px;*/
    /*float: right;*/
    text-align: right;
    font-size: 28px;
    line-height: 10px;
}

.bookingMember {
    font-style: bold;
    color: #25ae90;
}



/*CALENDAR VIEW**********************/

.screenCalendar {
    width: 800px;
    height: 1280px;
    margin: 20px;
}

.repeatDiv {
    width: 100%;
}

.timeHour {
    width: 5%;
    display: inline-block;
    height: 60px;
    margin: 0;
    font-size: 28px;
}

.timeBoxBlock {
    border: 1px solid black;
    width: 90%;
    height: 60px;
    display: inline-block;
    margin: 0;
    background-color: lightgrey;
}

.timeSelectOval {
    box-shadow: 2px 2px 3px #55606F;
    border: 1px solid #55606F;
    border-radius: 20px;
    margin: 6px 5px 6px 5px;
    text-align: center;
    background-color: white;
    /*vertical-align: middle;*/
}

.timeSelectOval span {
    font-family: "Nothing You Could Do", Arial, sans-serif;
    font-size: 28px;
}

.listDiv {
    list-style-type: none;
}

.whoInRoom {
    text-align: center;
    font-size: 24px;
    font-family: "Nothing You Could Do", Arial, sans-serif;
    color: #F3B449;
    margin-top: 11px;
}

table {
    border-collapse: collapse;

}

.numHour {
    width: 75px;
    height: 60px;
    font-size: 28px;
    text-align: center;
}

.timeslot {
    width: 700px;
    height: 60px;
    border: 1px solid black;
    background-color: lightgrey;
}

/*=======*/
    /*width: 34%;*/
    /*float: right;*/
    /*border: 2px solid blue;*/
/*}*/

/*****************BOOKING VIEW*******************/

.dialogdemoBasicUsage #popupContainer {
    position: relative; }
.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }



/*reservation view*******************************************/
/*.charge {*/
    /*font-size: 14px;*/
    /*color: #55606F;*/
/*}*/
.bookingBorder {
    border: 5px ridge #F3B449;
    width: 675px;
    margin: auto;
}

.bookingHeader {
    background-color: #F3B449;
    padding: 25px 0 15px 0;
    border-bottom: 5px ridge #F3B449;
}

.bookingHeader h3 {
    margin-top: 0;
    text-align: center;
    font-size: 32px;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.bookingSummary {
    font-size: 28px;
    width: 400px;
    text-align: right;
    display: inline-block;
    height: 300px;
    float: left;
}

.chargeDiv {
    font-size: 14px;
    color: #55606F;
    width: 175px;
    text-align: left;
    display: inline-block;
    height: 300px;
    padding-left: 20px;
    padding-top: 100px;
}

.md-raised {
    width: 150px;
    height: auto;
    border-radius: 10px;
}


/*****LOGIN MODAL*****/

.loginButtons {
    margin:auto;
    display: inline-block;
}


.loginButtons #submit{
    background-color: #25ae90;
    color: white;
}

.login p{
    text-align: center;
}

