


/*styles for DEFAULT view*************************************/


/*button styling*/
.md-button.md-raised:not([disabled]) {
    background-color: #25ae90;
    color: white;
}

.md-button.md-raised:hover {
    color: black;
}
/*styles for default view*************************************/

.screen {
    background-color: #25ae90;
    width: 800px;
    height: 1280px;
}

.room-name-div {
    font-size: 58px;
    text-shadow: 5px 5px 5px #55606F;
    padding-top: 30px;
    margin: auto;
    text-align: center;
    color: floralwhite;
}

.default-instruction-div {
    margin-top: 250px;
    background-color: floralwhite;
    color: #55606F;
    text-align: center;
    font-size: 36px;
    font-family: 'Nothing You Could Do', cursive, sans-serif;
    width: 50%;
    height: 125px;
    float: right;
    padding-top: 25px;
    border: 1px solid #55606F;
    box-shadow: -4px 4px 5px #55606F;
}

.bottom-div {
    clear: both;
    text-align: center;
    font-size: 48px;
    color: floralwhite;
    /*border: 2px solid purple;*/
    padding-top: 250px;
    line-height: 0;
}

.bottom-div p {
    padding-bottom: 0;
    text-shadow: 4px 4px 3px #55606F;
}

.time {
    font-size: 100px;
    /*border: 1px dashed black;*/
}

/***************THE HEADER template: THE TOP******************************/
header {
    width: 750px;
    height: 115px;
    margin: 10px auto 0 auto;
    /*border: 2px dashed red;*/
}

#login-button {
    background-color: #25ae90;
}

#theRoom {
    /*text-align: left;*/
    height: 110px;
    margin: 0 auto 0 50px;
    width: 400px;
    float: left;
    /*border: 2px solid black;*/
    line-height: 10px;
}

.clock {
    height: 110px;
    width: 150px;
    display: inline-block;
    float: right;
    /*border: 2px solid blue;*/
}

.clock p {
    /*text-align: right;*/
    /*margin: 0 50px 0 auto;*/
    font-size: 20px;
    line-height: 10px;
}

.bookingMember {
    font-style: bold;
    color: #25ae90;
}



/*CALENDAR VIEW*******************************************/

.screenCalendar {
    width: 800px;
    height: 1280px;
    margin: 20px;
}

table, th, td {
    border-collapse: collapse;
    border: none;
    outline: none;
}

.listDiv {
    list-style-type: none;
    margin: auto;
    width: 750px;
}

.timeSelectOval {
    box-shadow: 2px 2px 3px #55606F;
    border: 1px solid #55606F;
    border-radius: 20px;
    margin: 6px 5px 6px 5px;
    text-align: center;
    background-color: white;
}

.timeSelectOval span {
    font-family: "Nothing You Could Do", Arial, sans-serif;
    font-size: 28px;
}


.whoInRoom {
    text-align: center;
    font-size: 18px;
    /*font-family: "Nothing You Could Do", Arial, sans-serif;*/
    color: #55606F;
    margin: auto;
}

.numHour {
    width: 75px;
    height: 70px;
    font-size: 28px;
    text-align: center;
}

.timeslot {
    width: 600px;
    height: 70px;
    border: 1px solid black;
    background-color: lightgrey;
}


/*****************BOOKING VIEW*************************************/

.dialogdemoBasicUsage #popupContainer {
    position: relative; }

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.window{
    width: 55%;
    height: 43%;
}
.window h2{
    font-size: xx-large;
    text-align: center;
    color: #55606F;
    margin: 2%;
}

.booking-form{
    height: 95%;
}

.modal-body{
    text-align:center;
    padding: 31% 19%;
    height: 100%;
}

.modal-body p{
    color: #55606F;
    font-weight: 600;
    font-size: larger;
}

.for {
    float: left;
    margin: 10% 1% 1% 8%;
}

button.button {
    height: 37px !important;
    width: 55px !important;
    border-radius: 37% !important;
    box-shadow: 1px 1px 3px #888888;
}

.add{
    display: inline;
}

.addHours{
    float:left;
}

.addPeople{
    float:right;
}

.number {
    font-size: -webkit-xxx-large;
    color: #55606F;
    font-weight: 600;
}


.plus{
    fill: #25ae90;
}

.minus{
    fill: #FF5962
}

/*reservation view*******************************************/
/*.charge {*/
    /*font-size: 14px;*/
    /*color: #55606F;*/
/*}*/

/*RESERVATION view*******************************************/


.bookingBorder {
    border: 5px ridge #F3B449;
    width: 675px;
    margin: auto;
}

.bookingHeader {
    background-color: #F3B449;
    padding: 25px 0 15px 0;
    border-bottom: 5px ridge #F3B449;
}

.bookingHeader h3 {
    margin-top: 0;
    text-align: center;
    font-size: 32px;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.bookingSummary {
    font-size: 28px;
    width: 400px;
    text-align: right;
    display: inline-block;
    height: 300px;
    float: left;
}

.chargeDiv {
    font-size: 14px;
    color: #55606F;
    width: 175px;
    text-align: left;
    display: inline-block;
    height: 300px;
    padding-left: 20px;
    padding-top: 100px;
}

.md-raised {
    width: 150px;
    height: auto;
    border-radius: 10px;
}


/*****LOGIN MODAL************************************/

.loginButtons {
    margin:auto;
    display: inline-block;
}


.loginButtons #submit{
    background-color: #25ae90;
    color: white;
}

.login p {
    text-align: center;
}


/*CONFIGURATION Page************************************/
#configForm{
    padding-left:5%;
    padding-right:5%;
}

#configHead{
    background-color:#B23E44;
}

#configSubmit{
    width: 90%;
    margin:auto;
    /*background-color:#25ae90;*/
}

/*SUCCESS BOOKING MODAL*/

.bookSuccess {
    width: auto;
    height: auto;
    padding: 2%;
    display: inline-block;
    text-align: center;
    border: 10px outset #25ae90;
}

.bookSuccess h2 {
    color: #55606F;
}


/*.md-button.md-raised:not([disabled]) {*/
    /*background-color: #25ae90;*/
    /*color: white;*/
/*}*/

#bookSuccessButton{
    background-color: #25ae90;
    color: white;
    width: 150px;
    height: auto;
    border: none;
    border-radius: 10px;
}
#bookSuccessButton:hover {
    background-color: white;
    color: black;
}

/*/BOOKING FAILURE*/


.bookFail {
    width: auto;
    height: auto;
    padding: 2%;
    display: inline-block;
    text-align: center;
    border: 10px outset #B23E44;
}

.bookFail h2{
    color: #55606F;
}

#bookFailButton {
    background-color: #B23E44;
    color: white;
}

#bookFailButton:hover {
    background-color: white;
    color:black;
}
