<div class="screenCalendar">

    <div ng-controller="ReserveCtrl">
    <div ng-include="'/assets/views/templates/thetop.html'"></div>
    <div class="bookingBorder">
        <div class="bookingHeader">
            <h3>Booking Summary</h3>
        </div>
        <div class="bookingSummary">
            <div ng-hide="true">
                <p>Available: <em>{{available}}</em></p>
                <p>This meeting: <em>{{thisMeeting}}</em></p>
                <p>Balance: <em>{{balance}}</em></p>
            </div>
            <div ng-hide="true">
                <p>Available: <em>{{available}}</em></p>
                <p>This meeting: <em>{{thisMeeting}}</em></p>
                <p>Payment Due: <em>${{paymentDue}}</em></p>
            </div>
            <div ng-hide="false">
                <p>This meeting: <em>{{thisMeeting}} hours</em></p>
                <p>Payment Due: <em>${{paymentDue}}</em></p>
            </div>
            <div class="bookItButton">
                <button class="md-button" ng-click="nevermind()">Nevermind</button>
                <button ng-controller="AppCtrl" ng-click="bookingSuccess()" class="md-button md-raised">Book It!</button>
            </div>
        </div>
        <div ng-hide="false" class="chargeDiv">
            <span class="charge">charged to your credit card on file</span>
        </div>
    </div>
    </div>
</div>