<md-dialog ng-controller="TimeCtrl" class="bookSuccess" aria-label="bookSuccess"  ng-cloak>
    <h2>Have a great meeting!</h2>
        <p>You're all set to meet in {{room.name}}<br>
        from {{startTime} to {{endTime}.<br>
        You'll get an email receipt shortly.<br>
        Questions or problems?<br>
        See the Community Manager for help.
        </p>

        <button id="bookSuccessButton" class="bookSuccess md-button md-raised" ng-click="gotoDefault($event)" aria-label="OK">
            OK
        </button>


</md-dialog>

