<!--Include the header for the top of the page-->
<div class="screenCalendar">

    <div ng-include="'/assets/views/templates/thetop.html'"></div>

    <div class="container" ng-controller="CalendarCtrl" ng-mousemove="inactiveMouseTimeOut()" ng-click="inactiveTouchTimeOut()">

        <div class="listDiv" ng-model="timeArray">
            <table>
                <tr ng-repeat="timeblock in timeArray">
                    <td class="numHour">{{ timeblock.stdTime }}</td>
                    <td class="timeslot" ng-style="{
                    'background-image': checkPastTime(timeblock.milTime) ? 'url(/assets/styles/images/gray1.jpg)' : 'none',
                    'border-bottom' : checkPastTime(timeblock.milTime) ? 'none' : '1px solid black',
                    'background-color': timeblock.isBooked ?  '#FF5962': '#25ae90',
                    'border-top': timeblock.milTime === rightNowTime ? '3px dashed purple': 'none'
                    }">

                        <div class="timeSelectOval" ng-click="tapToBook(timeblock.milTime)" ng-hide="timeblock.isBooked || checkPastTime(timeblock.milTime)">
                            <span>Tap to Start Your Meeting Time Here</span>
                        </div>
                        <div class="whoInRoom" ng-show="timeblock.isBooked && !checkPastTime(timeblock.milTime)">
                            <span>{{whoInRoom}}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </div>
