<div>

    <md-toolbar layout-align="center center" id="configHead">
    <h1>Set Up</h1>
    </md-toolbar>
    <md-content layout="column"ng-cloak>


    <!--form to select the COCO location and ROOM-->
    <form name="myForm" id="configForm">
        <h4>Set Up Meeting Room</h4>

        <md-input-container class="md-block">
            <label for ="selectLocation">Location</label>
            <md-select required name="selectLocation" id="selectLocation" ng-model="data.selectLocation">
                 <md-option ng-repeat="option in data.availableLocations" value="{{option.id}}">{{option.name}}</md-option>
            </md-select><br>
        </md-input-container>

        <md-input-container class="md-block">
            <label for ="selectRoom">Room</label>
            <md-select required name="selectRoom" id="selectRoom" ng-model="data.selectRoom">
                <md-option ng-repeat="option in data.availableRooms" value="{{option.id}}">{{option.name}}</md-option>
            </md-select>
        </md-input-container>



    <h4>Screen Timeouts</h4>

        <md-input-container class="md-block">
            <label for ="calendarTimeout">Calendar Screen</label>
                <md-select required name="calendarTimeout" id="calendarTimeout" ng-model="data.calendarTimeout">
                    <md-option value="15" >15 seconds</md-option>
                    <md-option value="30" >30 seconds</md-option>
                    <md-option value="60" >60 seconds</md-option>
                </md-select><br>
        </md-input-container>

        <md-input-container class="md-block">
            <label for ="bookingTimeout">Booking Screen</label>
                <md-select required name="bookingTimeout" id="bookingTimeout" ng-model="data.bookingTimeout">
                    <md-option value="15" >15 seconds</md-option>
                    <md-option value="30" >30 seconds</md-option>
                    <md-option value="60" >60 seconds</md-option>
                </md-select><br>
        </md-input-container>

         <md-input-container class="md-block">
            <label for ="resultsTimeout">Results Screen</label>
                <md-select required name="resultsTimeout" id="resultsTimeout" ng-model="data.resultsTimeout">
                    <md-option value="15" >15 seconds</md-option>
                    <md-option value="30" >30 seconds</md-option>
                    <md-option value="60" >60 seconds</md-option>
                </md-select><br>
         </md-input-container>


    </form>

    <md-button ng-click="saveSettings()" class="md-raised md-primary" ng-disabled="myForm.$invalid">Submit and Save Settings</md-button>
</md-content>
</div>