
<div class="reserveBook" layout-align="center center">
    <div ng-include="'/assets/views/templates/thetop.html'"></div>
<div class="selectTime">

    <!--<div ng-controller="CalendarCtrl" class="title" layout="row" layout-align="center center">-->
        <!--<h1 ng-show="true">Your Meeting from {{startHour}}:{{meetingValues.minutes}} to  </h1>-->
    <!--</div>-->
    <h1>Book Your Meeting</h1>


    <!--//This is the drop-down menu to select start time for meeting-->
    <!--//Placeholder will need to be accessed via factory from calendar view-->
    <!--//Logic will be added to display time options based on start time selected on Calendar view-->

    <div class="selectStartTime">
        <label for="selectStartTime"><h2>Start Time</h2></label>
        <select name="selectStartTime" id="selectStartTime"
                ng-model="data.selectStartTime"
                ng-options="option.stdTime for option in cleanArray"
                value="{{option}}"
                ng-change= cleanEndTime()>

        </select>
        </div>

    <div class="selectEndTime">
            <label for="selectEndTime"><h2>End Time</h2></label>
            <select name="selectEndTime" id="selectEndTime"
                    ng-model="data.selectEndTime"
                    ng-options="option.stdTime for option in data.availableEndTime"
                    value="{{option}}"
                    ng-change=thisMeeting()
                    >
            </select>
    </div>

    <div class="selectAttendance">
            <label for="selectAttendance"><h2>Attendance</h2></label>
            <select name="selectAttendance"
                    id="selectAttendance"
                    ng-model="data.selectAttendance"
                    ng-options="option.attendees for option in stageArray"
                    value="{{option.attendees}}"
                    >
            </select>
    </div>
    <br>
</div>

    <div id="bookingSummary" layout-align="center center">
        <div class="summaryHeader" layout="row" layout-align="center center">
            <h3>Booking Summary</h3>
        </div>
        <div class="summaryDiv" layout="column" layout-align="space-around center">
            <div ng-show="showHoursMethod">
                <p>Available: <em>{{memberAvailableHour}}</em></p>
                <p>This meeting: <em>{{meetingDuration}}</em></p>
                <p>Balance: <em>{{balance}}</em></p>
            </div>
            <div ng-show="showHoursAndChargeMethod">
                <p>Available: <em>{{memberAvailableHour}}</em></p>
                <p>This meeting: <em>{{meetingDuration}}</em></p>
                <p>Payment Due: <em>{{paymentDue | currency}}</em></p>
            </div>
            <div ng-show="showChargeMethod">
                <p>This meeting: <em>{{meetingDuration}} hours</em></p>
                <p>Payment Due: <em>{{paymentDue | currency}}</em>  <span class="charge">(charged to your credit card on file)</span>
                </p>
            </div>
            <div class="bookItButton">
                <button class="md-button" ng-click="nevermind()">No thanks</button>
                <button  ng-click="bookThatMeeting(ev)" class="md-button md-raised">Book It!</button>
            </div>
        </div>
    </div>
</div>

