<header id="reservationHeader" ng-controller="TimeCtrl">

    <div id="theRoom">
        <h1>{{room.name}}</h1>

        <div class="displayName">
            <h5 ng-hide="true">Badge or <button type="submit">Log In</button></h5>
            <h5 ng-hide="false">Member: <span class="bookingMember">{{bookingMember}}</span></h5>
        </div>

        <!--<h5>Badge or-->
            <!--<button ng-controller="AppCtrl" id=login-button class="md-button md-raised" ng-click="showLogin($event)" flex-sm="100" flex-md="100" flex-gt-md="auto">-->
                <!--Login-->
            <!--</button>-->
        <!--</h5>-->

    </div>

    <div class="clock">
        <p>{{clock | date:'MMM d'}}</p>
        <p>{{clock | date: 'h:mm a'}}</p>
    </div>

</header>
<div class="screenCalendar">

    <!--<div ng-controller="ReserveCtrl">-->
    <!--<div ng-include="'/assets/views/templates/thetop.html'"></div>-->

        <!--<div aria-label="Create your booking" class="window" ng-cloak>-->
            <form class="booking-form" ng-controller="AppCtrl">
                <!--<md-toolbar>-->
                    <!--<div class="md-toolbar-tools">-->
                            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                        <!--</md-button>-->
                    <!--</div>-->
                <!--</md-toolbar>-->
                <!--<div class="modal-body">-->
                    <h2>Your meeting</h2>
                    <!--<div class="md-dialog-content">-->
                        <div class="addHours">

                            <md-button class="md-icon-button aria-label button">
                                <span aria-label="add" ng-click="hourAdd()">
                                    <ng-md-icon icon="add" class="plus"></ng-md-icon>
                                </span>
                            </md-button>

                            <div class="number">{{meetingValues.hours}}</div>

                            <md-button class="md-icon-button button">
                                <span aria-label="subtract" ng-click="hourRemove()"><ng-md-icon icon="remove" class="minus"></ng-md-icon></span>
                            </md-button>

                        </div>

                        <div class="minutes addMinutes">

                                    <md-button class="md-icon-button aria-label button ">
                                        <span aria-label="add" ng-click="hourAdd()">
                                            <ng-md-icon icon="add" class="plus"></ng-md-icon>
                                        </span>
                                    </md-button>

                                <p>
                                    <ng-pluralize count="meetingValues.hours"
                                              when="{'one':'hour',
                                      'other':'hours'}"></ng-pluralize>
                                </p>
                                    <md-button class="md-icon-button button">
                                        <span aria-label="subtract" ng-click="hourRemove()">
                                            <ng-md-icon icon="remove" class="minus"></ng-md-icon>
                                        </span>
                                    </md-button>
                            </div>

                            <!--<div class="people addPeople">-->
                                    <!--<md-button class="md-icon-button aria-label button ">-->
                                        <!--<span aria-label="add" ng-click="hourAdd()">-->
                                            <!--<ng-md-icon icon="add" class="plus"></ng-md-icon>-->
                                        <!--</span>-->
                                    <!--</md-button>-->
                                    <!--<p>-->
                                        <!--<ng-pluralize count="meetingValues.hours"-->
                                             <!--when="{'one':'hour',-->
                                      <!--'other':'hours'}"></ng-pluralize>-->
                                    <!--</p>-->

                                    <!--<md-button class="md-icon-button button">-->
                                        <!--<span aria-label="subtract" ng-click="hourRemove()">-->
                                            <!--<ng-md-icon icon="remove" class="minus"></ng-md-icon>-->
                                        <!--</span>-->
                                    <!--</md-button>-->

                        <!--</div>-->
                        <!--<p class="for">for</p>-->
                        <div class="add addPeople">

                                <md-button class="md-icon-button aria-label button">
                                    <span aria-label="add" ng-click="peopleAdd()"><ng-md-icon icon="add" class="plus"></ng-md-icon></span>
                                </md-button>
                            <div class="number">{{meetingValues.people}}</div><p>people</p>
                                <md-button class="md-icon-button button">
                                    <span aria-label="subtract" ng-click="peopleRemove()"><ng-md-icon icon="remove" class="minus"></span>
                                </md-button>
                        </div>
                    </div>
                </div>
            </form>

        <div class="bookingBorder">
        <div class="bookingHeader">
            <h3>Booking Summary</h3>
        </div>
        <div class="bookingSummary">
            <div ng-hide="true">
                <p>Available: <em>{{available}}</em></p>
                <p>This meeting: <em>{{thisMeeting}}</em></p>
                <p>Balance: <em>{{balance}}</em></p>
            </div>
            <div ng-hide="true">
                <p>Available: <em>{{available}}</em></p>
                <p>This meeting: <em>{{thisMeeting}}</em></p>
                <p>Payment Due: <em>${{paymentDue}}</em></p>
            </div>
            <div ng-hide="false">
                <p>This meeting: <em>{{thisMeeting}} hours</em></p>
                <p>Payment Due: <em>${{paymentDue}}</em></p>
            </div>
            <div class="bookItButton">
                <button class="md-button" ng-click="goback()">Go Back</button>
                <button class="md-button" ng-click="nevermind()">Nevermind</button>
                <button ng-controller="AppCtrl" ng-click="bookingSuccess()" class="md-button md-raised">Book It!</button>
            </div>
        </div>
        <div ng-hide="false" class="chargeDiv">
            <span class="charge">charged to your credit card on file</span>
        </div>
    </div>
    </div>
</div>